In [1]:
import pandas  as pd 
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [2]:
days = 20 
tickers= {
    'apple' : 'AAPL',
    'meta' : 'META',
    'google' : 'GOOGL',
    'microsoft' : 'MSFT',
    'netflix' : 'NFLX',
    'amazon' : 'AMZN',
    'unitedair' : 'UAL'
}


def  get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        print (company)
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist=hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df,hist])
    return df

In [6]:
days = 20 
tickers= {
    'apple' : 'AAPL',
    'meta' : 'META',
    'google' : 'GOOGL',
    'microsoft' : 'MSFT',
    'netflix' : 'NFLX',
    'amazon' : 'AMZN',
    'unitedair' : 'UAL'
}
df = get_data(days,tickers)

apple
meta
google
microsoft
netflix
amazon
unitedair

In [7]:
import altair as alt

In [8]:
companies = ['apple','meta']
data = df.loc[companies]
data

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
meta,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.500000,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997

In [9]:
data.sort_index()

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
meta,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.500000,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997

In [10]:
data = data.T.reset_index()
data.head()

Name             Date       apple        meta
0     03 October 2022  142.449997  138.610001
1     04 October 2022  146.100006  140.279999
2     05 October 2022  146.399994  138.979996
3     06 October 2022  145.429993  139.070007
4     07 October 2022  140.089996  133.449997

In [11]:
data = pd.melt(data, id_vars=['Date']).rename(
columns={'value':'Stock Prices(USD)'})

In [27]:
ymin ,ymax = 100, 300

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8,clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q" , stack = None , scale=alt.Scale(domain=[ymin,ymax])),
        color='Name:N'
        )
)

In [28]:
chart

alt.Chart(...)